# http://editorconfig.org
#root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{*.markdown,*.md}]
ij_markdown_wrap_text_if_long = false

[*.yml]
indent_size = 2

[*.json]
indent_size = 2

[*.java]
indent_style = tab
ij_continuation_indent_size = 4
ij_java_blank_lines_before_class_end = 0
ij_java_blank_lines_after_anonymous_class_header = 0
ij_java_blank_lines_after_class_header = 0
ij_java_blank_lines_before_method_body = 0
ij_java_else_on_new_line = false
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999
ij_java_imports_layout = $*, |, java.**, |, javax.**, |, org.**, |, com.**, |, *, |, net.neoforged.**
ij_java_insert_inner_class_imports = true